.animals {

    display: flex;
    justify-content: center;
    align-items: center;

    &__diogram {
        position: relative;
        width: 200px;
        height: 200px;
        margin: 0 auto 2rem;
        border-radius: 100%;

    }
}