.present{

    &__header {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

    }


    &__items {
        max-height: 200px;
        overflow: scroll;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .item {
            border: 1px solid #00000012;
        }

        .item-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 20px;
        }


        .item-body {    
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            padding: 0 20px;
        }
    }
}